<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Portal de Noticias!</h2>
    <br />
    <form action="/addnoticias">
        <button id="novaNoticia" title="Nova Noticia">Nova Notícia</button>
    </form>
    <br /><br />
    <table>
        <tr><td>idnoticia</td>
            <td>titulo</td>
            <td>noticia</td>
            <td> publicado em:</td>
        </tr>
        
        <% for (var i = 0; i < noticias.length; i++){ %>
            <tr><td><%= noticias[i].id_noticia %></td>
                <td><%= noticias[i].titulo %></td>
                <td><%= noticias[i].noticia %></td>
                <td><%= noticias[i].data_criacao %></td>
            </tr>
        <% } %> 
    </table>

</body>
</html>